@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@ 
@{
}
<ul class="navbar-nav">
    @{
        ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("Cname");
    }
    @if (ViewBag.Data!=null)
    {
        <li class="nav-item active">
            <a id="manage" class="nav-link text-dark" asp-controller="Home" asp-action="" title="welcome">Welcome @ViewBag.Data!</a>
        </li>
        <li class="nav-item">
            <form>
           
                <button id="gotohome" type="submit" style="background-color:white;padding-right:5px;margin-left:5px;margin-right:5px" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Customer" asp-action="Home">Home</button>
            </form>
        </li>
        <li class="nav-item">
             <form>
                <button id="Add" style="background-color:white;padding-right:5px;margin-left:5px;margin-right:5px" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Customer" asp-action="AddBooking">Add Booking</button>
        </form>
      </li>
        <li class="nav-item">
            <form>
                <button id="view" style="background-color:white;padding-right:5px;margin-left:5px;margin-right:5px" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Customer" asp-action="ViewBooking">View Booking</button>
             </form>
        </li>
        
        <li class="nav-item">
             <form>
                <button id="delete" style="background-color:white;padding-right:5px;margin-left:5px;margin-right:5px" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Customer" asp-action="DeleteBooking">Cancel Booking</button>
            </form>
        </li>
        
        <li class="nav-item">
         <form>
                <button id="logout" type="submit" style="background-color:white;padding-right:5px;margin-left:5px;margin-right:5px" type="submit" class="nav-link btn btn-link text-dark" asp-controller="Customer" asp-action="Logout">Logout</button>
           </form>
        </li>
        
    }
    else
    {


      @* <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Customer" asp-action="Registration">Register</a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Customer" asp-action="Login">Login</a>
        </li>*@
    }
    </ul>
